<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div style="padding: 50px 0; text-align: center;">
                    <p>
                        <img src="./assets/images/404-error-page-design.jpg" class="img-fluid rounded" alt="">
                    </p>

                    <button class="btn btn-success" (click)="goToHomePage()">Go to Home Page</button>
                </div>
            </div>
        </div>
    </div>
</section>