<div class="card">
    <div class="card-header bg-dark text-warning">Behaviour Subject Two</div>
    <div class="card-body">
        <form #BSFormTwo="ngForm" (ngSubmit)="registerBSTwo(BSFormTwo)">
            <div class="form-group">
                <label for="enter-two">Enter Something</label>
                <input type="text" class="form-control" name="BS-input-two" id="enter-two" ngModel #trv_BSInputTwo="ngModel" [class.is-invalid]="trv_BSInputTwo.touched && trv_BSInputTwo.invalid" required />
                <p *ngIf="trv_BSInputTwo.touched && trv_BSInputTwo.invalid">
                    <small class="text-danger">
                        This field is required !
                    </small>
                </p>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-info btn-sm" [disabled]="BSFormTwo.invalid">Save and Check</button>
            </div>
        </form>

        <p>New Behaviour Subject Value: <span class="text-danger">{{latestBS_value}}</span></p>
    </div>
</div>